<!-- design-showcase area start -->
<section class="design-showcase">
  <div class="design-showcase__inner rr-bg-yellow section-spacing">
    <div class="container-xxl">
      <div class="design-showcase__wrapper row g-0">
        <div class="design-showcase__media col-lg-7">
          <div class="swiper design-showcase__active">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img class="img-fluid w-100" src="assets/imgs/gallery/design-showcase-1.jpg"
                  alt="image not found"></div>
              <div class="swiper-slide"><img class="img-fluid w-100" src="assets/imgs/gallery/design-showcase-5.jpg"
                  alt="image not found"></div>
              <div class="swiper-slide"><img class="img-fluid w-100" src="assets/imgs/gallery/design-showcase-6.jpg"
                  alt="image not found"></div>
            </div>
            <div class="pagination">
              <div class="design-showcase-pagination"></div>
            </div>
          </div>
        </div>
        <div class="design-showcase__content col-lg-5">
          <ul class="design-showcase__meta-date">
            <li>(01)</li>
            <li>Urban City Remark</li>
            <li>(2022)</li>
          </ul>
          <h2 class="title rr_title_anim"> <span>Multi-Disciplinary</span> <br>
            thinking and design</h2>

          <img class="img-fluid" src="assets/imgs/gallery/design-showcase-2.jpg" alt="image not found">

          <p class="desc">We help architects sculpt sound out of space, with bespoke, acoustic solutions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- design-showcase area end -->
