<!-- expertise area start -->
<div class="expertise section-spacing-bottom">
  <div class="expertise__inner">
    <div class="container-xxl">
      <ul class="expertise__list fade-anim row list-unstyled gy-3">
        <li class="col-6 col-md-3"><a href="service.html"><img src="assets/imgs/icon/icon.svg" alt="image not found">Residencial <i
              class="fa-solid fa-angle-right"></i></a></li>

        <li class="col-6 col-md-3"><a href="service.html"><img src="assets/imgs/icon/icon-2.svg" alt="image not found">Commercial <i
              class="fa-solid fa-angle-right"></i></a></li>

        <li class="col-6 col-md-3"><a href="service.html"><img src="assets/imgs/icon/icon-3.svg" alt="image not found">Urban
            Development <i class="fa-solid fa-angle-right"></i></a></li>
        <li class="col-6 col-md-3"><a href="service.html"><img src="assets/imgs/icon/icon-4.svg" alt="image not found">Industrial <i
              class="fa-solid fa-angle-right"></i></a></li>
      </ul>
    </div>
    <div class="expertise__media rr-ov-hidden">
      <img class="img-fluid w-100" data-speed="0.3" src="assets/imgs/gallery/expertise.jpg" alt="image not found">
    </div>
  </div>
</div>
<!-- expertise area end -->
