<!-- palmer-studio area start -->
<section class="palmer-studio section-spacing-bottom">
  <div class="container-xxl">
    <div class="palmer-studio__inner row g-4">
      <div class="palmer-studio__box col-md-6 col-lg-4">
        <div class="content">
          <span class="sub-title">Palmer Studio</span>
          <h2 class="title rr_title_anim">We bring your vision to life
            drawing from <span>architectural
              experience</span></h2>
        </div>
      </div>
      <div class="palmer-studio__box col-md-6 col-lg-4">
        <div class="media rr-ov-hidden">
          <img class="img-fluid" data-speed="0.9" src="assets/imgs/gallery/palmer-studio-1.jpg" alt="image not found">
        </div>
        <div class="text">
          <p>The field of architecture became multi-disciplinary with specializations for each project
            type,
            technological expertise. Through a unique combination of radical engineering, construction and
            design disciplines and expertise.</p>
          <a href="service.html" class="underline">Learn more</a>
        </div>
      </div>
      <div class="palmer-studio__box col-md-12 col-lg-4">
        <div class="media rr-ov-hidden">
          <img class="img-fluid" data-speed="0.5" src="assets/imgs/gallery/palmer-studio-2.jpg" alt="image not found">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- palmer-studio area end -->
