<!-- projects area start -->
<section class="projects section-spacing">
  <div class="projects__inner">
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-title__wrapper fade-anim">
        <div>
          <h6 class="section-sub-title">Gallery</h6>
        </div>

        <h4 class="section-title rr_title_anim">
          <span>High-Impact</span> projects <br>
          with visionary result.
        </h4>

        <p class="desc">
          Great projects where every project starts with a dream and ends with a space that feels
          like natural heaven!
        </p>
        </div>
        </div>
      </div>

      <div class="projects__wrapper">
        <div class="projects__item row g-4 align-items-stretch">
          <div class="projects__content col-md-4 col-lg-3">
            <div class="text">
              <h2 class="sub-title ">Architecture</h2>
              <h3 class="title"><a href="portfolio-details.html">Hymba Youth Cultural <br> Center</a></h3>
            </div>
            <div class="projects__info">
              <div class="projects__box">
                <span class="sub-title">Year</span>
                <h2 class="title">2024</h2>
              </div>
              <div class="projects__box">
                <span class="sub-title">Location</span>
                <h2 class="title">Canberra, Australia</h2>
              </div>
            </div>
          </div>
          <a href="portfolio-details.html" class="projects__media rr-ov-hidden col-md-8 col-lg-9">
            <img data-speed="0.7" src="assets/imgs/gallery/gallery-1.jpg" alt="image not found">
          </a>
        </div>

        <div class="projects__item row g-4 align-items-stretch">
          <div class="projects__content col-md-4 col-lg-3">
            <div class="text">
              <h2 class="sub-title">Architecture</h2>
              <h3 class="title"><a href="portfolio-details.html">Skyscraper Orizona <br> City Mall</a></h3>
            </div>
            <div class="projects__info">
              <div class="projects__box">
                <span class="sub-title">Year</span>
                <h2 class="title">2024</h2>
              </div>
              <div class="projects__box">
                <span class="sub-title">Location</span>
                <h2 class="title">Canberra, Australia</h2>
              </div>
            </div>
          </div>
          <a href="portfolio-details.html" class="projects__media rr-ov-hidden col-md-8 col-lg-9">
            <img data-speed="0.7" src="assets/imgs/gallery/gallery-2.jpg" alt="image not found">
          </a>
        </div>

        <div class="projects__item row g-4 align-items-stretch">
          <div class="projects__content col-md-4 col-lg-3">
            <div class="text">
              <h2 class="sub-title">Architecture</h2>
              <h3 class="title"><a href="portfolio-details.html">Eastern Community <br> Boat Club</a></h3>
            </div>
            <div class="projects__info">
              <div class="projects__box">
                <span class="sub-title">Year</span>
                <h2 class="title">2024</h2>
              </div>
              <div class="projects__box">
                <span class="sub-title">Location</span>
                <h2 class="title">Canberra, Australia</h2>
              </div>
            </div>
          </div>
          <a href="portfolio-details.html" class="projects__media rr-ov-hidden col-md-8 col-lg-9">
            <img data-speed="0.7" src="assets/imgs/gallery/gallery-3.jpg" alt="image not found">
          </a>
        </div>

        <div class="projects__item row g-4 align-items-stretch">
          <div class="projects__content col-md-4 col-lg-3">
            <div class="text">
              <h2 class="sub-title">Architecture</h2>
              <h3 class="title"><a href="portfolio-details.html">Nelson Creek Urban <br> Residence</a></h3>
            </div>
            <div class="projects__info">
              <div class="projects__box">
                <span class="sub-title">Year</span>
                <h2 class="title">2024</h2>
              </div>
              <div class="projects__box">
                <span class="sub-title">Location</span>
                <h2 class="title">Canberra, Australia</h2>
              </div>
            </div>
          </div>
          <a href="portfolio-details.html" class="projects__media rr-ov-hidden col-md-8 col-lg-9">
            <img data-speed="0.7" src="assets/imgs/gallery/gallery-4.jpg" alt="image not found">
          </a>
        </div>

        <div class="projects__item row g-4 align-items-stretch">
          <div class="projects__content col-md-4 col-lg-3">
            <div class="text">
              <h2 class="sub-title">Architecture</h2>
              <h3 class="title"><a href="portfolio-details.html">Rainbow Commercial <br> Building</a></h3>
            </div>
            <div class="projects__info">
              <div class="projects__box">
                <span class="sub-title">Year</span>
                <h2 class="title">2024</h2>
              </div>
              <div class="projects__box">
                <span class="sub-title">Location</span>
                <h2 class="title">Canberra, Australia</h2>
              </div>
            </div>
          </div>
          <a href="portfolio-details.html" class="projects__media rr-ov-hidden col-md-8 col-lg-9">
            <img data-speed="0.7" src="assets/imgs/gallery/gallery-5.jpg" alt="image not found">
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- projects area end -->
