<!-- services area start -->
<section class="services section-spacing-bottom">
  <div class="container-xxl">
    <div class="services__inner">
      <div class="services-bg"><img src="assets/imgs/shape/shape.png" alt="image not found"></div>
      <div class="row g-4 align-items-start">
        <div class="col-lg-6">
          <div class="services__content fade-anim">
            <h2 class="title rr_title_anim"><span>Architectural</span> <br>expertise</h2>
            <p class="desc">As the complexity of buildings to increase, the field of architecture became
              multi-disciplinary with
              technological expertise and discipline. Fast forward to today, and we’re proud to be a thriving
              team,
              working on projects of all shapes and sizes, still fueled by the same passion and curiosity that
              got
              us started. </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="services-main">
            <div class="dedication">
              <h3>Trust. <br>
                Dedication. <br>
                Experienced.</h3>
            </div>
            <div class="services__wrapper">
              <div class="active-bg"></div>
              <ul class="services-list">
                <li class="services__item ">
                  <span>1</span>
                  <a href="service-details.html">Architectural Design <i
                      class="fa-classic fa-solid fa-arrow-right fa-fw"></i></a>
                </li>
                <li class="services__item">
                  <span>2</span>
                  <a href="service-details.html">Construction Plan <i
                      class="fa-classic fa-solid fa-arrow-right fa-fw"></i></a>
                </li>
                <li class="services__item">
                  <span>3</span>
                  <a href="service-details.html">Interior Design<i
                      class="fa-classic fa-solid fa-arrow-right fa-fw"></i></a>
                </li>
                <li class="services__item">
                  <span>4</span>
                  <a href="service-details.html">Residencial Floor Plan <i
                      class="fa-classic fa-solid fa-arrow-right fa-fw"></i></a>
                </li>
                <li class="services__item">
                  <span>5</span>
                  <a href="service-details.html">Renovation<i
                      class="fa-classic fa-solid fa-arrow-right fa-fw"></i></a>
                </li>
                <li class="services__item">
                  <span>6</span>
                  <a href="service-details.html">Visualization<i
                      class="fa-classic fa-solid fa-arrow-right fa-fw"></i></a>
                </li>
                <li class="services__item">
                  <span>7</span>
                  <a href="service-details.html">Spatial design<i
                      class="fa-classic fa-solid fa-arrow-right fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services area end -->
