<!-- footer area start  -->
<footer class="footer">
  <div class="footer__inner">
    <div class="container-xxl">
      <div class="footer-widget-wrapper row g-4">
        <div class="footer-widget-box col-12 col-sm-6 col-lg-3">
          <div class="subscribe-form">
            <h2 class="title">Subscribe</h2>
            <div class="input-group">
              <input type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="input-group">
              <input type="email" name="email" id="email" placeholder="Enter your email">
              <button type="submit"><i class="fa-regular fa-arrow-right-long"></i></button>
            </div>
          </div>
          <div class="copyright-text">
            <p class="text"> © 2026 Arviprojects. All rights reserved.</p>
          </div>
        </div>
        <div class="footer-widget-box col-12 col-sm-6 col-lg-3">
          <h2 class="title">Quick Links</h2>
          <ul class="footer-nav-list">
            <li><a href="service.html" data-text="Company"><span>Company</span></a></li>
            <li><a href="portfolio.html" data-text="Work"><span>Work</span></a></li>
            <li><a href="service.html" data-text="Services"><span>Services</span></a></li>
            <li><a href="contact.html" data-text="Career"><span>Career</span></a></li>
          </ul>
        </div>
        <div class="footer-widget-box col-12 col-sm-6 col-lg-3">
          <h2 class="title">Social</h2>
          <ul class="footer-nav-list">
            <li><a href="https://www.facebook.com/" data-text="Facebook"><span>Facebook</span></a></li>
            <li><a href="https://x.com/" data-text="Twitter"><span>Twitter</span></a></li>
            <li><a href="https://www.instagram.com/" data-text="Instagram"><span>Instagram</span></a></li>
            <li><a href="https://www.linkedin.com/" data-text="LinkedIn"><span>LinkedIn</span></a></li>
            <li><a href="https://www.pinterest.com/" data-text="Pinterest"><span>Pinterest</span></a></li>
          </ul>
        </div>
        <div class="footer-widget-box col-12 col-sm-6 col-lg-3">
          <h2 class="title">Office</h2>
          <div class="footer-location">
            <p>Bademli 2nd Mürsel Street No: 32, 16960 <br>
              Mudanya, Bursa, Türkiye
            </p>
            <a href="tel:+905365081418">+90 536 508 1418</a>
            <a href="mailto:info@arviprojects.com">info@arviprojects.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer area end  -->
